<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf_8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Bob Link</title>
    </head>
    <body>
        <div class="container">
            <h1>BobLink</h1>
            {% if admin == adminid %}
                <div class="add-link">
                    <i class="fa-solid fa-plus"></i>
                </div>
            {% endif %}
            <div class="box-link">
                {% for link in links: %}
                    <a href="{{link['link']}}" class="href-{{link.id}}">
                        <div class="link link-{{link.id}}">
                            {%if admin == adminid: %}
                                <div class="del-link link-{{link.id}}" ><i class="fa-solid fa-trash" data-link="{{link.id}}"></i></div>
                            {% endif %}
                            <div class="link-content">
                                <p>{{link.name}}</p>
                                <i class="{{icons[link.platform]}}"></i>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <script src="{{url_for('static', filename='main.js')}}"></script>
    </body>

</html>
